[Unit]
Description=EOS wallet service

[Service]
Type=simple
ExecStart=/usr/local/eos/wallet/start.sh
ExecStop=/usr/local/eos/wallet/stop.sh
TimeoutStartSec=30s
TimeoutStopSec=300s
Restart=no
KillMode=control-group

[Install]
WantedBy=multi-user.target